#antispam-extra-settings table {width:420px;}
.fl {float:left;}
.cb {clear:both;}
#antispam-extra-guide {width:570px;}
#antispamextra_message {width:400px;height:26px;}
#dashboard_right_now .antispam-extra-stats {clear: both;padding: 6px 10px 12px; font-size:11px;}